body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

.login-card, .signup-card {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-width: 100%;
  box-sizing: border-box; 
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
}

form div {
  margin-bottom: 15px;
}

.login-error {
  color: red;
}

.signup-card {
  text-align: center;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  color: #333;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.posts-container,.comments-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.posts-container-header,.comments-container-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.posts-container-header > button, .comments-container-header > button{
  width: 120px;
  height: 45px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

.settings-container {
  position: relative;
  display: inline-block;
}

.settings-icon {
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

.settings-menu {
  position: absolute;
  top: 20px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.settings-item {
  padding: 8px 12px;
  cursor: pointer;
  color: #333;
}

.settings-item:hover {
  background-color: #f4f4f4;
}

.edit-post, .edit-comment {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.edit-post-content, .edit-comment-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 100%;
}

.edit-post-content h2, .edit-comment-content h2 {
  margin-top: 0;
}

.edit-post-content form div, .edit-comment-content form div {
  margin-bottom: 15px;
}

.edit-post-content label,.edit-comment-content label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.edit-post-content input[type="text"], .edit-comment-content input[type="text"],
.edit-post-content textarea, .edit-comment-content textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.edit-post-buttons, .edit-comment-buttons {
  display: flex;
  justify-content: flex-end;
}

.edit-post-buttons button, .edit-comment-buttons button {
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
}

.edit-post-buttons button:hover, .edit-comment-buttons button:hover {
  background-color: #45a049;
}

.edit-post-buttons button[type="button"]:nth-child(2), .edit-comment-buttons button[type="button"]:nth-child(2) {
  background-color: #f44336;
}

.edit-post-buttons button[type="button"]:nth-child(2):hover, .edit-comment-buttons button[type="button"]:nth-child(2):hover {
  background-color: #e53935;
}

.confirmation-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensures the dialog is on top */
}

.confirmation-dialog-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.confirmation-dialog-message {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.confirmation-dialog-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Small gap between buttons */
}

.confrimation-dialog-buttons button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.confirmation-dialog-buttons button.confirm {
  background-color: #f44336; /* Red for "OK" */
  color: white;
}

.confirmation-dialog-buttons button.cancel {
  background-color: #4CAF50; /* Green for "Cancel" */
  color: white;
}

.confirmation-dialog-buttons button:hover {
  filter: brightness(90%); /* Slightly darker on hover */
}

.add-post, .add-comment {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-post-button:hover, .add-comment-button:hover {
  background-color: #45a049;
}

.add-post-content, .add-comment-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
}

.add-post-buttons, .add-comment-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.add-post-buttons > button , .add-comment-buttons > button{
  width: 100px;
  height: 45px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.add-post-buttons > button[type="button"], .add-comment-buttons > button[type="button"] {
  background-color: #f44336;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
}

.navbar-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo-image {
  height: 50px; 
  margin-right: 20px;
}

.navbar-buttons {
  display: flex;
  width: 20%;
  margin-left: 90px;
  gap: 10px;
}

.navbar-buttons button {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  transition: background-color 0.3s ease;
}

.navbar-buttons button:hover {
  background-color: #555;
}

.navbar-buttons button.active {
  background-color: #fff;
  color: #333;
  border-bottom: 2px solid #333;
}

.search-form {
  padding: 10px;
  width: 30%;
  background-color: #333;
  display: flex;
  margin-left: auto;
  box-shadow: none;
}

.search-input {
  padding: 5px;
  border-radius: 3px 0 0 3px;
  border: none;
}

.search-button {
  width: 150px;
  padding: 5px 10px;
  margin-left: 10px;
  /* background-color: #4CAF50; */
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
} 